*{
  padding: 0;
  margin: 0;
}

.flex_house{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.house__roof{
  height:0;
  width: 0;
  border-left: 240px solid transparent;
  border-right: 240px solid transparent;
  border-bottom: 189px solid #8B4513;
}

.roof__chamney{
  position: relative;
  z-index: -1;
  height:70px;
  width: 50px;
  background: brown;
  margin-left:50px;
  margin-top: 20px;
  border: 1px solid black;
}

.roof__window{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(#65EBFF, #71FBFF);
  border: 7px solid #224889;
  position: relative;
  right: 55px;
  display: flex;
  justify-content: center;
  bottom: 40px;
}

.roof__window_frame{
  position: relative;
  height: 95%;
  width: 0px;
  justify-content: center;
  border: 5px solid #224889;
}

.house__wall{
  height: 300px;
  width: 478px;
  border: 1px solid black;
  background-image: linear-gradient(#E0FFFF, #6495ED);
  display: flex;
  justify-content: space-evenly;
}

.wall__window_left{
  position:relative;
  margin-top: 30px;
  width: 100px;
  height: 160px;
  border: 1px solid black;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
}

.wall__window_right{
  position:relative;
  margin-top: 30px;
  width: 100px;
  height: 160px;
  border: 1px solid black;
  background-color: yellow;
  display: flex;
  align-items: center;
}

.window__frame_horizontal{
  width: 100%;
  height: 0px;
  border: 1px solid #000;
}

.window__frame_vertical{
  position: relative;
  height: 100%;
  width: 0px;
  border: 1px solid #000;
  right: 50%;
}

.wall__door{
  position: relative;
  top: 50%;
  height: 150px;
  width: 100px;
  background-color: #A0522D;
  border: 1px solid #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wall__door_handle{
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
}
